article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}

html {
    font-size: 15px;
    line-height: 1.5;
    color: #17083a;
    scroll-behavior: smooth;
}

@media (min-width: 320px) {
    html {
        font-size: 16px;
    }
}

html,
button {
    font-family: 'Montserrat', sans-serif;
}

button {
    margin: 0;
    border-radius: 0;
}

body,
h1,
h2,
h3,
h4,
ol,
ul {
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

@media (min-width: 320px) {
    h1 {
        font-size: 1.75rem;
    }
}

@media (min-width: 361px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

ul {
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0 0 1rem;
    text-align: justify;
}

p:last-child {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* main site style */

body {
    background: #fefaf6;
}

.body-wrapper {
    position: relative;
    overflow-x: hidden;
}

a {
    color: #557647;
    text-decoration: none;
}

.goto::before {
    display: block;
    content: ' ';
    margin-top: -3rem;
    height: 3rem;
    visibility: hidden;
    pointer-events: none;
}

.bold {
    font-weight: 500;
}

.clearfix {
    clear: both;
}

nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    background: #fefaf6;

    -webkit-box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.4);
}

@media (min-width: 650px) {
    nav {
        position: relative;
    }
}

nav h1 {
    padding-left: 0.5rem;
}

.nav-list {
    margin-left: auto;
    list-style-type: none;
    display: none;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.link {
    padding: 0.5rem 0.75rem;
    display: block;
    position: relative;
    text-align: center;
}

.link::after,
.link:focus::after {
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    height: 2px;
    left: 0;
    background-color: #557647;

    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;

    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.nav-list .link::after,
.nav-list .link:focus::after {
    bottom: -4px;
}

.nav-list--mobile .link::after,
.nav-list--mobile .link:focus::after {
    bottom: 0;
}

.link:hover::after,
.link:focus::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);

    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}

.active {
    pointer-events: none;
}

.active.link::after {
    width: 100%;
    height: 4px;

    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);

    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}

.menu-button {
    min-width: 90px;
    height: 2.25rem;
    padding: 0.5rem 0.75rem;
    border: none;
    outline: none;
    margin-left: auto;
    display: block;
    background: #555;
    font-size: 1rem;
    color: #fefaf6;
    cursor: pointer;
}

@media (min-width: 320px) {
    .menu-button {
        height: 2.75rem;
    }
}

@media (min-width: 361px) {
    .menu-button {
        height: 3rem;
    }
}

@media (min-width: 650px) {
    .nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu-button {
        display: none;
    }
}

.nav-list--mobile {
    position: absolute;
    right: 0;
    background: #fefaf6;
    -webkit-box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.4);

    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);

    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu-button.open + .nav-list--mobile {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nav-list--mobile .menu-button {
    width: 100%;
}

.nav-list--mobile.hidden-on-load {
    opacity: 0;
}

main {
    padding-top: 2.25rem;
}

@media (min-width: 320px) {
    main {
        padding-top: 2.75rem;
    }
}

@media (min-width: 361px) {
    main {
        padding-top: 3rem;
    }
}

@media (min-width: 650px) {
    main {
        padding-top: 0;
    }
}

.hero {
    height: 60vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.4);
}

.is-apple-mobile .hero {
    background-attachment: scroll;
}

.hero--tor {
    background-position: top 30% center;
}

.hero--hands {
    background-position: center;
}

.hero--feet {
    background-position: left 10% center;
}

/*
 * explicit window dimensions to ensure they only load when necessary
 * maybe it's a bit extreme, but who's really gonna read this code? '__'
 * https://stackoverflow.com/a/16961944
*/
@media (min-width: 801px) {
    .hero--tor {
        background-image: url('./img/tor.jpg');
    }

    .hero--hands {
        background-image: url('./img/hands_2.jpg');
    }

    .hero--feet {
        background-image: url('./img/Feet_Bill_Bradshaw_2.jpg');
    }
}

@media (max-width: 800px), (min-width: 601px) {
    .hero--tor {
        background-image: url('./img/tor@800.jpg');
    }

    .hero--hands {
        background-image: url('./img/hands_2@800.jpg');
    }

    .hero--feet {
        background-image: url('./img/Feet_Bill_Bradshaw_2@800.jpg');
    }
}

@media (max-width: 600px), (min-width: 401px) {
    .hero--tor {
        background-image: url('./img/tor@600.jpg');
    }

    .hero--hands {
        background-image: url('./img/hands_2@600.jpg');
    }

    .hero--feet {
        background-image: url('./img/Feet_Bill_Bradshaw_2@600.jpg');
    }
}

@media (max-width: 400px) {
    .hero--tor {
        background-image: url('./img/tor@400.jpg');
    }

    .hero--hands {
        background-image: url('./img/hands_2@400.jpg');
    }

    .hero--feet {
        background-image: url('./img/Feet_Bill_Bradshaw_2@400.jpg');
    }
}

section {
    max-width: 50rem;
    padding: 1.5rem;
    margin: 0 auto;
}

.iir-logo {
    max-width: 8rem;
    margin: 0 0 1rem 1.5rem;
    float: right;
}

.about--image {
    width: 100%;
    margin: 0 0 1rem;
    float: none;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) and
    ((-o-object-position: 0) or (object-position: 0)) {
    .about--image {
        height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: 0 10%;
        object-position: 0 10%;
    }

    @media (min-width: 400px) {
        .about--image {
            height: 500px;
        }
    }

    @media (min-width: 600px) {
        .about--image {
            height: auto;
            -o-object-fit: initial;
            object-fit: initial;
        }
    }
}

@media (min-width: 600px) {
    .about--image {
        max-width: 50%;
        margin: 0 0 1.5rem 1.5rem;
        float: right;
    }
}

.map {
    width: 100%;
    max-width: 600px;
    height: 350px;
    border: 0;
    margin: 0 auto;
    display: block;
}

@media (min-width: 600px) {
    .map {
        height: 400px;
    }
}

@media (min-width: 767px) {
    .map {
        height: 500px;
    }
}

@media (min-width: 1000px) {
    .map {
        height: 600px;
        margin-left: 0;
    }
}

.footer {
    padding: 2rem 2rem 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social {
    width: 7rem;
    padding-bottom: 1rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social--link {
    font-size: 0;
}

.social--link .svg {
    width: 3rem;
    height: 3rem;
    fill: #555;

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

    -webkit-transition: fill 0.3s, -webkit-transform 0.3s;
    transition: fill 0.3s, -webkit-transform 0.3s;
    -o-transition: fill 0.3s, transform 0.3s;
    transition: fill 0.3s, transform 0.3s;
    transition: fill 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.social--link:hover .svg {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.social--link:hover .svg--facebook {
    fill: #0087ca;
}

.stop {
    stop-color: #555;
    -webkit-transition: stop-color 0.3s;
    -o-transition: stop-color 0.3s;
    transition: stop-color 0.3s;
}

.social--link:hover .stop--first {
    stop-color: #fdf497;
}

.social--link:hover .stop--second {
    stop-color: #fdf497;
}

.social--link:hover .stop--third {
    stop-color: #fd5949;
}

.social--link:hover .stop--fourth {
    stop-color: #d6249f;
}

.social--link:hover .stop--fifth {
    stop-color: #285aeb;
}

.scroll-up {
    width: 3rem;
    height: 3rem;
    padding: 0;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: 0;
    border: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;

    -webkit-box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.3);

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.scroll-up:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.scroll-up::after {
    content: '\2191';
    font-size: 2rem;
    position: relative;
    top: -2px;
}
